<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ctw.user.model.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="ctw.user.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="country" column="country" jdbcType="VARCHAR"/>
            <result property="province" column="province" jdbcType="VARCHAR"/>
            <result property="city" column="city" jdbcType="VARCHAR"/>
            <result property="user_level" column="user_level" jdbcType="INTEGER"/>
            <result property="user_status" column="user_status" jdbcType="INTEGER"/>
            <result property="is_vip" column="is_vip" jdbcType="TINYINT"/>
            <result property="vip_level" column="vip_level" jdbcType="TINYINT"/>
            <result property="vip_exceed_day" column="vip_exceed_day" jdbcType="DATE"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="unionId" column="unionId" jdbcType="VARCHAR"/>
            <result property="mpOpenId" column="mpOpenId" jdbcType="VARCHAR"/>
            <result property="create_ip" column="create_ip" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,account,phone,
        password,gender,country,
        province,city,user_level,
        user_status,is_vip,vip_level,
        vip_exceed_day,name,avatar,
        profile,role,unionId,
        mpOpenId,create_ip,createTime,
        updateTime,isDelete
    </sql>
</mapper>
